

*{
  margin: 0px;
  padding: 0px;
}

#all{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 350px;
 margin-top: 0px;
}

h1{
  padding-right: 600px;
}
form{
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

form input{
  height: 40px;
  flex-basis: 50%;
}

form button{
  flex-basis: 10%;
}

.outerdiv{
  width: 700px;
  margin: inherit;
}

.outerdiv ul{
  margin: 0px;
  margin-top: 50px;
  padding: 0px;
  list-style: none;
  margin-top: 50px;
}

.outerdiv ul li{
  color:white ;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  background: black;
}

.outerdiv ul li span{
  right: 30px;
  cursor: pointer;
  position: absolute;
  
}


